*,
*:before,
*:after {
    box-sizing: border-box;
}
:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  text-decoration: none;
  font-weight: medium;
}

body {
  display: flex;
  min-height: 100vh;
  background: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.container {
  margin: 100px auto 0 auto;
  max-width: 960px;
}
.btn {
 width: 150px;
 margin: auto 10px ;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label-title {
  color: #707070;
  font-size: 15px;
  margin-bottom: 5px;
}
.confirm-msg{
  font-weight: bold;
  text-decoration: underline;
}
/* Confirm Page */
.msgContainer > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.subTitle {
  font-size: 15px;
  margin: 30px auto 40px auto;
  margin-bottom: 12px;
}
.button-container {
  display: flex !important;
  justify-content: space-between;
  gap: 10px;
}
.box {
  display: flex;
  flex-direction: column;
}
/* Navigation */
#nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  padding: 30px;
  background: #373737;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #707070;
  z-index: 2;
}

#nav a {
  display: inline-block;
  color: white;
  opacity: 0.7;
  transition: 0.2 ease color;
}

#nav a.router-link-active,
#nav a:hover {
  opacity: 1;
}

#logo {
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 1 !important;
}