
/*=============== BASE ===============*/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


#app {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  max-width: 100px;
  height: 100px;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 6rem); /* 使得元素的宽度为视口宽度减去左右各3rem */
  box-sizing: border-box; /* 使得 padding 和 border 都包含在上面设定的宽度内 */
  position: fixed; /* 使用绝对定位 */
  top: 50%; /* 从视口顶部偏移50% */
  left: 50%; /* 从视口左侧偏移50% */
  transform: translate(-50%, -50%); /* 使用 transform 修正偏移，使元素完全居中 */
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 3rem;
}
.sub-title{
  margin-top: 2rem;
}

.btn{
  width: 10rem;
  margin: auto 0.5rem;
}

.label-title{
  color: #707070;
}
.confirm-msg{
  font-weight: bold;
  text-decoration: underline;
}

/* Navigation */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 60px;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;


  background: #373737;
  color: white;
  border-bottom: 5px solid #707070;
  z-index: 2;
}

#nav a {
  display: inline-block;
  color: white;
  opacity: 0.7;
  transition: 0.2 ease color;
}

#nav a.router-link-active,
#nav a:hover {
  opacity: 1;
}

#logo {
  font-weight: bold;
  font-size: 1.5rem;
}
