*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    margin-top: 150px;
    background: #eee;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: 505050;
}

a,
a:visited {
    color: #505050;
}

.container {

    margin: 100px auto;
    max-width: 960px;
}

/* Navigation */
#nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    padding: 30px;
    background: #373737;
    color: white;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #707070;
    z-index: 2;
}

#nav a {
    display: inline-block;
    color: white;
    opacity: 0.7;
    transition: 0.2 ease color;
}

#nav a.router-link-active,
#nav a:hover {
    opacity: 1;
}

#logo {
    font-weight: bold;
    font-size: 1.5rem;
    opacity: 1 !important;
}


a {
    text-decoration: none;
    font-weight: bold;
}


/*Modal Overlay*/
.modal-overlay:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.modal-overlay-content {
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    min-width: 300px;
    max-width: 800px;
    background: white;
    padding: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 10px;
    font-size: 1.4rem;
}

.go-back {
    display: inline-block;
    margin-bottom: 15px;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.input {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.btn{
    width: 150px;
    margin: 0 auto;
}


.d-md-flex {
display: flex;
}
.justify-content-md-center{
    justify-content: center;
}

img {
    object-fit: cover;
    width: 100px;
    height: 100px;
  }